html body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #6a6a88;
  position: relative;
  color: #F2EFEA;
}

html body ::-webkit-input-placeholder {
  color: #403D58;
  opacity: .8;
}

html body :-ms-input-placeholder {
  color: #403D58;
  opacity: .8;
}

html body ::-ms-input-placeholder {
  color: #403D58;
  opacity: .8;
}

html body ::placeholder {
  color: #403D58;
  opacity: .8;
}

html body .active {
  color: #66D7D1 !important;
}

html body a {
  text-decoration: none;
}

html body hr {
  opacity: 1;
}

html body ul {
  list-style-type: none;
}

html body input, html body button {
  outline: none;
  border: none;
}

html body .wrapper {
  width: 72vw;
  margin: 0 auto;
}

html body header {
  background-color: #403D58;
  z-index: 200;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0 2px 10px #403D58;
          box-shadow: 0 2px 10px #403D58;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

html body header.semi-transparent {
  background-color: rgba(64, 61, 88, 0.92);
}

html body header .row {
  padding: 40px 0;
}

html body header .row .col.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

html body header .row .col.logo a img {
  width: 50px;
}

html body header .row .col.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

html body header .row .col.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body header .row .col.navbar.notIndexPage {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

html body header .row .col.search-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

html body header .row .col nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

html body header .row .col nav ul li {
  display: inline-block;
  margin: 0 12px;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

html body header .row .col nav ul li a {
  white-space: nowrap;
  color: #FC7753;
  font-weight: 400;
  font-size: 1rem;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

html body header .row .col nav ul li a:hover {
  color: #66D7D1;
  -webkit-transform: scale(2);
          transform: scale(2);
}

html body header .row .col nav ul li:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

html body header .row .col .search-form {
  height: 36px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px #66D7D1;
          box-shadow: 0 0 2px #66D7D1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body header .row .col .search-form input {
  background-color: #66D7D1;
  border-radius: 5px 0 0 5px;
  padding: 5px 10px;
  color: #403D58;
  border: 1px solid #66D7D1;
  font-size: .9rem;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  height: 100%;
}

html body header .row .col .search-form input:focus {
  background-color: #403D58;
  color: #66D7D1;
}

html body header .row .col .search-form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border: 1px solid #66D7D1;
  border-left: none;
  padding: 5px 10px;
  font-size: 1.6rem;
  border-radius: 0 5px 5px 0;
  background-color: #66D7D1;
  color: #403D58;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

html body header .row .col .search-form button:hover {
  background-color: #403D58;
  color: #66D7D1;
}

html body header .row .col .shopping-cart {
  color: #FC7753;
  background-color: #403D58;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  height: 36px;
  padding: 10px;
  margin-left: 30px;
  font-size: 1.3rem;
  border-radius: 4px;
  position: relative;
  border: 1px solid #FC7753;
  -webkit-box-shadow: 0 0 2px #FC7753;
          box-shadow: 0 0 2px #FC7753;
}

html body header .row .col .shopping-cart:hover {
  background-color: #FC7753;
  color: #403D58;
}

html body header .row .col .shopping-cart .somethingIsInCart {
  width: 6px;
  font-size: .8rem;
  padding: 9px;
  height: 15px;
  border-radius: 4px;
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #66D7D1;
  color: #2D3047;
  display: none;
}

html body header .row .col .shopping-cart .somethingIsInCart.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body header .row .smallNavbar {
  display: none;
}

html body .main {
  min-height: 100%;
}

html body .main .container-fluid {
  padding: 0;
}

html body .main .container-fluid .slider {
  position: relative;
  min-height: 500px;
  overflow: hidden;
  margin: 0;
  width: 100%;
  min-height: 500px;
  height: calc(100vh - 2 * 40px - 41px);
}

html body .main .container-fluid .slider .col {
  width: 100%;
  min-height: 500px;
  height: calc(100vh - 2 * 40px - 41px);
  background-image: url("img/slider/slideImg1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: 1;
}

html body .main .container-fluid .slider .col.animate {
  -webkit-transition: .64s ease-in-out;
  transition: .64s ease-in-out;
}

html body .main .container-fluid .slider .col.first-visible {
  z-index: 2;
}

html body .main .container-fluid .slider .col .slide-text {
  font-family: 'Barlow', sans-serif;
  position: absolute;
  bottom: 15%;
  max-width: 600px;
  right: 5%;
  z-index: 22;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 30px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

html body .main .container-fluid .slider .col .slide-text h1 {
  color: #FC7753;
  font-size: 2.65rem;
  margin-bottom: 10px;
}

html body .main .container-fluid .slider .col .slide-text h2 {
  line-height: 2rem;
  font-size: 1.5rem;
  color: #66D7D1;
}

html body .main .container-fluid .slider .col .layer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  background-color: rgba(42, 42, 42, 0.247);
}

html body .main .container-fluid .slider .arrow button {
  background-color: transparent;
  font-size: 6rem;
  position: absolute;
  top: 40%;
  cursor: pointer;
  z-index: 2;
}

html body .main .container-fluid .slider .arrow button#previousBtn {
  left: 2%;
}

html body .main .container-fluid .slider .arrow button#nextBtn {
  right: 2%;
}

html body .main .container-fluid .slider .arrow button i {
  color: #66D7D1;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

html body .main .container-fluid .slider .arrow button i:hover {
  color: #FC7753;
}

html body .main .container-fluid .wrapper {
  padding: 50px 50px 30px 50px;
  background-color: #403D58;
  -webkit-box-shadow: 0 0 7px #403D58;
          box-shadow: 0 0 7px #403D58;
  min-height: 70vh;
}

html body .main .container-fluid .wrapper h2 {
  font-size: 2.3rem;
  color: #66D7D1;
  text-align: center;
  margin-bottom: 20px;
}

html body .main .container-fluid .wrapper .showFilterDiv {
  outline: none;
  border: none;
  background-color: #2D3047;
  color: #66D7D1;
  -webkit-box-shadow: 0 0 2px #FC7753;
          box-shadow: 0 0 2px #FC7753;
  position: absolute;
  font-size: 1.1rem;
  border-radius: 3px;
  padding: 5px 10px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  display: none;
}

html body .main .container-fluid .wrapper .showFilterDiv:hover {
  background-color: #66D7D1;
  -webkit-box-shadow: 0 0 2px #66D7D1;
          box-shadow: 0 0 2px #66D7D1;
  color: #2D3047;
}

html body .main .container-fluid .wrapper .sort {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

html body .main .container-fluid .wrapper .sort .sortSelect {
  background-color: #2D3047;
  border: none;
  outline: none;
  color: #66D7D1;
  -webkit-box-shadow: 0 0 4px #FC7753;
          box-shadow: 0 0 4px #FC7753;
  border-radius: 4px;
  padding: 5px 12px;
}

html body .main .container-fluid .wrapper .filter {
  position: absolute;
  left: 15px;
  background-color: #403D58;
  -webkit-box-shadow: 0 0 6px #2D3047;
          box-shadow: 0 0 6px #2D3047;
  padding: 25px 20px 24px 20px;
  border-radius: 4px;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

html body .main .container-fluid .wrapper .filter h3 {
  font-size: 1.4rem;
  color: #FC7753;
  margin: 0;
}

html body .main .container-fluid .wrapper .filter form {
  width: calc( (100vw - 72vw) / 2 - 80px);
}

html body .main .container-fluid .wrapper .filter form p {
  font-size: .9rem;
  margin: 12px 0 0 0;
  color: #66D7D1;
}

html body .main .container-fluid .wrapper .filter form hr {
  width: 60%;
  border-top: 1px solid #66D7D1;
  margin: 0;
  margin: 3px 0 7px 0;
  -webkit-box-shadow: 0 0 2px #66D7D1;
          box-shadow: 0 0 2px #66D7D1;
}

html body .main .container-fluid .wrapper .filter form .checkBoxEl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 2px 0;
}

html body .main .container-fluid .wrapper .filter form .checkBoxEl input {
  margin-right: 10px;
  background-color: #2D3047;
}

html body .main .container-fluid .wrapper .filter form label {
  font-size: .8rem;
  color: #FC7753;
}

html body .main .container-fluid .wrapper .filter form .elementPrice input {
  width: 60%;
  background-color: transparent;
  font-size: .75rem;
  color: #66D7D1;
  border-bottom: 1px solid #FC7753;
  padding: 1px 2px;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

html body .main .container-fluid .wrapper .filter form .elementPrice input:focus {
  border-bottom: 1px solid #66D7D1;
}

html body .main .container-fluid .wrapper .filter form .elementPrice:last-of-type {
  margin-bottom: 20px;
}

html body .main .container-fluid .wrapper .filter form .filterBtnDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0 0 0;
}

html body .main .container-fluid .wrapper .filter form .filterBtnDiv button {
  background-color: #FC7753;
  color: #2D3047;
  border-radius: 3px;
  font-size: .9rem;
  padding: 4px 12px;
  -webkit-box-shadow: 0 0 2px #FC7753;
          box-shadow: 0 0 2px #FC7753;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

html body .main .container-fluid .wrapper .filter form .filterBtnDiv button:hover {
  background-color: #403D58;
  color: #FC7753;
}

html body .main .container-fluid .wrapper .filter form input::-webkit-outer-spin-button,
html body .main .container-fluid .wrapper .filter form input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
          appearance: none !important;
  margin: 0 !important;
}

html body .main .container-fluid .wrapper section.products {
  display: -ms-grid;
  display: grid;
  min-height: 70%;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  padding: 50px 0 70px 0;
  position: relative;
  font-family: 'Barlow', sans-serif;
}

html body .main .container-fluid .wrapper section.products.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .main .container-fluid .wrapper section.products p.NoProductsMessage {
  display: none;
  color: #FC7753;
  font-size: 1.4rem;
}

html body .main .container-fluid .wrapper section.products p.NoProductsMessage.visible {
  display: block;
}

html body .main .container-fluid .wrapper section.products article.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2D3047;
  color: #66D7D1;
  padding-bottom: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 6px #FC7753;
          box-shadow: 0 0 6px #FC7753;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.15s;
          animation-duration: 1.15s;
}

html body .main .container-fluid .wrapper section.products article.product:hover {
  -webkit-box-shadow: 0 0 12px #66D7D1;
          box-shadow: 0 0 12px #66D7D1;
}

html body .main .container-fluid .wrapper section.products article.product figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body .main .container-fluid .wrapper section.products article.product figure img {
  width: 200px;
  margin: 20px 0;
  height: 200px;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

html body .main .container-fluid .wrapper section.products article.product figure img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

html body .main .container-fluid .wrapper section.products article.product figure h3 {
  margin-top: 10px;
  text-align: center;
  font-size: 1.15rem;
}

html body .main .container-fluid .wrapper section.products article.product footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html body .main .container-fluid .wrapper section.products article.product footer p {
  margin: 0;
  color: #FC7753;
  font-size: 1.1rem;
}

html body .main .container-fluid .wrapper section.products article.product footer button {
  border-radius: 5px;
  padding: 5px 13px;
  background-color: #403D58;
  color: #66D7D1;
  color: #FC7753;
  -webkit-box-shadow: 0 0 8px #403D58;
          box-shadow: 0 0 8px #403D58;
  border: 1px solid #403D58;
  font-size: 1rem;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

html body .main .container-fluid .wrapper section.products article.product footer button:hover {
  background-color: #FC7753;
  color: #2D3047;
}

html body .main .container-fluid .wrapper section.products article.product footer button.added {
  background-color: #FC7753;
  color: #403D58;
}

html body .main .container-fluid .our-services {
  width: 100%;
  background-color: #403D58;
  height: 800px;
  -webkit-box-shadow: 0 0 10px #2D3047;
          box-shadow: 0 0 10px #2D3047;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 500px;
      grid-template-columns: 1fr 1fr 500px;
      grid-template-areas: "center center top" "center center bottom";
}

html body .main .container-fluid .our-services .service {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

html body .main .container-fluid .our-services .service .layer {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .main .container-fluid .our-services .service .layer p {
  color: #66D7D1;
  visibility: hidden;
  background-color: #2D3047;
  padding: 5px 15px;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 3px;
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

html body .main .container-fluid .our-services .bottom {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: bottom;
}

html body .main .container-fluid .our-services .top {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: top;
}

html body .main .container-fluid .our-services .center {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: center;
}

html body .main .container-fluid .our-services .biggest-block {
  background-color: #66D7D1;
  position: relative;
  background-image: url();
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

html body .main .container-fluid .our-services .biggest-block .text-content {
  font-family: 'Barlow', sans-serif;
  width: 45%;
  max-width: 500px;
  position: absolute;
  bottom: 5%;
  right: 5%;
  background-color: rgba(45, 48, 71, 0.84);
  border-radius: 5px;
  padding: 30px;
  -webkit-box-shadow: 0 0 6px #2D3047;
          box-shadow: 0 0 6px #2D3047;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

html body .main .container-fluid .our-services .biggest-block .text-content h2 {
  font-size: 2.5rem;
  color: #FC7753;
}

html body .main .container-fluid .our-services .biggest-block .text-content p {
  line-height: 1.8rem;
  font-size: 1.2rem;
  margin: 20px 0;
  color: #66D7D1;
}

html body .main .container-fluid .our-services .biggest-block .text-content a {
  background-color: #FC7753;
  color: #403D58;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 1.1rem;
  -webkit-box-shadow: 0 0 10px #2D3047;
          box-shadow: 0 0 10px #2D3047;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  margin-top: 6px;
}

html body .main .container-fluid .our-services .biggest-block .text-content a:hover {
  background-color: rgba(252, 119, 83, 0.8);
}

html body .main .container-fluid .our-services .smaller-block {
  cursor: pointer;
  -webkit-animation: fadeIn 1.7s;
          animation: fadeIn 1.7s;
}

html body .main .container-fluid .our-services .smaller-block:hover .layer {
  background-color: rgba(82, 195, 189, 0.86);
}

html body .main .container-fluid .our-services .smaller-block:hover .layer p {
  visibility: visible;
  opacity: 1;
}

html body .main .container-fluid .our-services .smaller-block .text-content {
  display: none;
}

html body .main .container-fluid .service-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 400px;
  padding: 90px 0 120px 0;
  color: #FC7753;
  background-color: #2D3047;
  -webkit-box-shadow: 0 0 10px #2D3047;
          box-shadow: 0 0 10px #2D3047;
}

html body .main .container-fluid .service-information h2 {
  margin-bottom: 90px;
}

html body .main .container-fluid .service-information .info-content {
  width: 900px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  grid-column-gap: 40px;
  border-radius: 10px;
  padding: 40px 0;
  opacity: 0;
  -webkit-transition: 1.2s ease-in-out;
  transition: 1.2s ease-in-out;
}

html body .main .container-fluid .service-information .info-content .single-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 10px;
  min-width: 300px;
  width: 300px;
  max-width: 330px;
  min-height: 350px;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 6px #66D7D1 inset;
          box-shadow: 0 0 6px #66D7D1 inset;
  color: #66D7D1;
  background-color: #403D58;
  -webkit-transition: .43s ease-in-out;
  transition: .43s ease-in-out;
}

html body .main .container-fluid .service-information .info-content .single-info h3 {
  font-size: 1.4rem;
}

html body .main .container-fluid .service-information .info-content .single-info .central-icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

html body .main .container-fluid .service-information .info-content .single-info .central-icon i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 19px;
  font-size: 1.8rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 3px #FC7753;
          box-shadow: 0 0 3px #FC7753;
  background-color: #FC7753;
  color: #2D3047;
}

html body .main .container-fluid .service-information .info-content .single-info p {
  text-align: center;
  margin: 35px 0;
  font-size: .9rem;
  line-height: 1.62rem;
}

html body .main .container-fluid .service-information .info-content .single-info p a {
  color: #FC7753;
}

html body .main .container-fluid .service-information .info-content.animate {
  opacity: 1;
}

html body .main .container-fluid .service-information .arrow button {
  z-index: 100;
  background-color: transparent;
  top: 45%;
  color: #66D7D1;
  margin: 0 30px;
  font-size: 1.8rem;
  -webkit-transition: .24s ease-in-out;
  transition: .24s ease-in-out;
}

html body .main .container-fluid .service-information .arrow button:hover {
  color: #FC7753;
}

html body .main .container-fluid .service-information .arrow button.prevArrow {
  left: -100px;
}

html body .main .container-fluid .service-information .arrow button.nextArrow {
  right: -100px;
}

html body .main .container-fluid .contact {
  margin: 0;
  margin-top: 50px;
  min-height: 650px;
  background-color: #403D58;
}

html body .main .container-fluid .contact .col {
  height: 650px;
  padding: 0;
  overflow-x: hidden;
}

html body .main .container-fluid .contact .col .contactImage {
  width: 100%;
  height: 100%;
}

html body .main .container-fluid .contact .col .contactImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

html body .main .container-fluid .contact .col .change-section {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(64, 61, 88, 0.72);
}

html body .main .container-fluid .contact .col .change-section button {
  background-color: #2D3047;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 5px #2D3047;
          box-shadow: 0 0 5px #2D3047;
  font-size: 1rem;
  margin: 0 14px;
  color: #66D7D1;
  padding: 5px 13px;
  -webkit-transition: .24s ease-in-out;
  transition: .24s ease-in-out;
}

html body .main .container-fluid .contact .col .change-section button.active {
  color: #2D3047 !important;
  background-color: #FC7753;
}

html body .main .container-fluid .contact .col .change-section button:hover {
  background-color: #FC7753;
  color: #2D3047;
}

html body .main .container-fluid .contact .col:nth-of-type(2) {
  background-image: url("img/contact/background.jpg");
  background-position: center;
  background-size: cover;
}

html body .main .container-fluid .contact .col .info-form {
  width: 200%;
  min-height: 80%;
  background-color: rgba(64, 61, 88, 0.72);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
}

html body .main .container-fluid .contact .col .info-form .company-info, html body .main .container-fluid .contact .col .info-form .contact-form {
  width: 100% !important;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FC7753;
}

html body .main .container-fluid .contact .col .info-form .company-info {
  font-family: 'Barlow', sans-serif;
}

html body .main .container-fluid .contact .col .info-form .company-info h4, html body .main .container-fluid .contact .col .info-form .company-info p {
  text-align: center;
}

html body .main .container-fluid .contact .col .info-form .company-info h4 {
  font-size: 1.4rem;
  margin-top: 30px;
}

html body .main .container-fluid .contact .col .info-form .company-info p {
  font-size: 1rem;
  color: #66D7D1;
}

html body .main .container-fluid .contact .col .info-form .contact-form {
  padding-bottom: 20px;
}

html body .main .container-fluid .contact .col .info-form .contact-form form {
  width: 45%;
}

html body .main .container-fluid .contact .col .info-form .contact-form form span {
  color: #f34b4b;
  font-size: .7rem;
}

html body .main .container-fluid .contact .col .info-form .contact-form form input, html body .main .container-fluid .contact .col .info-form .contact-form form textarea {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: .85rem;
  color: #FC7753;
  padding: 5px 3px;
  border-bottom: 1px solid #FC7753;
  width: 100%;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

html body .main .container-fluid .contact .col .info-form .contact-form form input.error, html body .main .container-fluid .contact .col .info-form .contact-form form textarea.error {
  border-bottom: 1px solid #f34b4b;
}

html body .main .container-fluid .contact .col .info-form .contact-form form input[type="submit"], html body .main .container-fluid .contact .col .info-form .contact-form form input[type="reset"] {
  background-color: #2D3047;
  color: #66D7D1;
  border: none;
  font-size: .95rem;
  width: 30%;
  padding: 4px 11px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px #403D58;
          box-shadow: 0 0 5px #403D58;
  margin: 5px 10px 0 10px;
  -webkit-transition: .24s ease-in-out;
  transition: .24s ease-in-out;
}

html body .main .container-fluid .contact .col .info-form .contact-form form input[type="submit"]:hover, html body .main .container-fluid .contact .col .info-form .contact-form form input[type="reset"]:hover {
  background-color: #FC7753;
  color: #2D3047;
}

html body .main .container-fluid .contact .col .info-form .contact-form form input[type="submit"]:disabled, html body .main .container-fluid .contact .col .info-form .contact-form form input[type="reset"]:disabled {
  background-color: #FC7753;
  color: #2D3047;
}

html body .main .container-fluid .contact .col .info-form .contact-form form .form-field {
  position: relative;
  margin: 30px 0;
}

html body .main .container-fluid .contact .col .info-form .contact-form form .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .main .container-fluid .contact .col .info-form .contact-form form label {
  font-size: .78rem;
  color: #66D7D1;
  left: 3px;
  top: 10px;
  position: absolute;
  width: 100%;
  -webkit-transition: .24s ease-in-out;
  transition: .24s ease-in-out;
  cursor: text;
}

html body .main .container-fluid .contact .col .info-form .contact-form form .goUp {
  top: -15px;
}

html body .main .container-fluid .contact .col .info-form .contact-form p {
  font-size: .9rem;
}

html body .main .container-fluid .google-map {
  margin: 50px auto;
  height: 400px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .main .container-fluid .google-map .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  height: 80%;
}

html body .main .container-fluid .google-map .col iframe {
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
  position: relative;
  width: 100%;
  height: 100%;
}

html body .main .container-fluid .google-map .col h3 {
  font-size: 1.4rem;
  color: #FC7753;
  line-height: 2.15rem;
}

html body .main .container-fluid .google-map .col:first-child {
  position: relative;
}

html body .main .container-fluid .google-map .col:first-child::before {
  cursor: pointer;
  width: 100%;
  content: '';
  z-index: 100;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(45, 48, 71, 0.7);
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

html body .main .container-fluid .google-map .col:first-child:hover::before {
  width: 0;
}

html body .main .container-fluid .about-us {
  min-height: 500px;
  margin: 40px auto;
  border-radius: 5px;
  padding: 40px 30px;
}

html body .main .container-fluid .about-us .col {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Barlow', sans-serif;
}

html body .main .container-fluid .about-us .col h1 {
  color: #FC7753;
  font-size: 2.12rem;
}

html body .main .container-fluid .about-us .col p {
  max-width: 85%;
  margin-top: 20px;
  font-size: 1rem;
  line-height: 1.67rem;
  color: #66D7D1;
}

html body .main .container-fluid .about-us .col img {
  width: 100%;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 10px #2D3047;
          box-shadow: 0 0 10px #2D3047;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

html body .main .container-fluid .about-us .col img:hover {
  -webkit-filter: sepia(35%);
          filter: sepia(35%);
  -webkit-filter: saturate(30%);
          filter: saturate(30%);
  -webkit-filter: opacity(25%);
          filter: opacity(25%);
  -webkit-filter: invert(76%);
          filter: invert(76%);
  -webkit-filter: hue-rotate(45deg);
          filter: hue-rotate(45deg);
}

html body .main .container-fluid .our-office {
  margin-bottom: 40px;
  padding: 50px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body .main .container-fluid .our-office h1 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #FC7753;
}

html body .main .container-fluid .our-office .col {
  position: relative;
  padding: 0;
  min-width: 300px;
  min-height: 300px;
  height: 400px;
}

html body .main .container-fluid .our-office .col .content {
  min-height: 300px;
  width: 100%;
  height: 400px;
  background-color: #66D7D1;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #66D7D1;
          box-shadow: 0 0 5px #66D7D1;
  position: relative;
  z-index: 10;
  overflow: hidden;
  color: #2D3047;
}

html body .main .container-fluid .our-office .col .content img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

html body .main .container-fluid .our-office .col .content img.smaller {
  height: 84%;
}

html body .main .container-fluid .our-office .col .content h3 {
  font-size: 1.2rem;
  margin-top: 10px;
}

html body .main .container-fluid .our-office .col .content p {
  font-size: .9rem;
}

html body .main .container-fluid .our-office .col .content h3, html body .main .container-fluid .our-office .col .content p {
  opacity: 0;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

html body .main .container-fluid .our-office .col .content h3.visible, html body .main .container-fluid .our-office .col .content p.visible {
  opacity: 1;
}

html body .main .container-fluid .our-office .col span {
  position: absolute;
  z-index: 4;
  width: 100%;
  border-radius: 5px;
  height: 100%;
  background-color: #292b40;
  background-color: #fa8464;
  background-color: #cf6b4f;
  background-color: #57aaa6;
  -webkit-box-shadow: 0 0 4px #2D3047;
          box-shadow: 0 0 4px #2D3047;
  top: 0;
  left: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

html body .main .container-fluid .our-office .col span.back {
  z-index: 2;
}

html body .main .container-fluid .author {
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
  border-radius: 5px;
  padding: 70px 50px;
}

html body .main .container-fluid .author .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 83%;
  position: relative;
  color: #66D7D1;
}

html body .main .container-fluid .author .col img {
  border-radius: 6px;
  -webkit-filter: saturate(88%);
          filter: saturate(88%);
  width: auto;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #2D3047;
          box-shadow: 0 0 10px #2D3047;
  position: relative;
  z-index: 11;
  -webkit-transform: skew(-1deg);
          transform: skew(-1deg);
}

html body .main .container-fluid .author .col h1 {
  font-size: 2rem;
  color: #FC7753;
  margin-bottom: 50px;
}

html body .main .container-fluid .author .col p {
  line-height: 1.7rem;
}

html body .main .container-fluid .author .col a {
  color: #66D7D1;
  background-color: #2D3047;
  -webkit-box-shadow: 0 0 5px #66D7D1;
          box-shadow: 0 0 5px #66D7D1;
  font-size: 1rem;
  padding: 5px 15px;
  border-radius: 4px;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  margin: 10px 0;
}

html body .main .container-fluid .author .col a:nth-of-type(1) {
  margin-top: 40px;
}

html body .main .container-fluid .author .col a:hover {
  background-color: #FC7753;
  -webkit-box-shadow: 0 0 5px #FC7753;
          box-shadow: 0 0 5px #FC7753;
  color: #2D3047;
}

html body .footer {
  padding: 30px 0 40px 0;
  background-color: #403D58;
  margin-top: 20px;
  min-height: 300px;
  -webkit-box-shadow: 0 -2px 5px #403D58;
          box-shadow: 0 -2px 5px #403D58;
}

html body .footer .container-fluid .wrapper:first-child {
  margin: 20px auto;
}

html body .footer .container-fluid .wrapper .col {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body .footer .container-fluid .wrapper .col h3 {
  color: #FC7753;
  font-size: 1.6rem;
}

html body .footer .container-fluid .wrapper .col.social-networks ul {
  margin-top: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 12px;
  padding: 0;
}

html body .footer .container-fluid .wrapper .col.social-networks ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .footer .container-fluid .wrapper .col.social-networks ul li a {
  color: #66D7D1;
  font-size: 1.2rem;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

html body .footer .container-fluid .wrapper .col.social-networks ul li a:hover {
  color: #FC7753;
}

html body .footer .container-fluid .wrapper .col nav {
  margin-top: 20px;
}

html body .footer .container-fluid .wrapper .col nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-row-gap: 3px;
  grid-column-gap: 25px;
}

html body .footer .container-fluid .wrapper .col nav ul li a {
  color: #66D7D1;
  font-size: .93rem;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

html body .footer .container-fluid .wrapper .col nav ul li a:hover {
  color: #FC7753 !important;
}

html body .footer .container-fluid .wrapper .col nav ul li a.active {
  color: #FC7753 !important;
}

html body .footer .container-fluid .wrapper .col.contact p {
  color: #FC7753;
  font-size: .96rem;
  margin: 0;
}

html body .footer .container-fluid .wrapper .col.contact p:nth-child(4) {
  margin-top: 10px;
}

html body .footer .container-fluid .wrapper .col.contact p:nth-child(2) {
  margin-top: 10px;
}

html body .footer .container-fluid .wrapper .col.contact .info-name {
  font-size: .9rem;
  color: #66D7D1;
}

html body .footer .container-fluid .wrapper p {
  color: #66D7D1;
  font-size: .94rem;
  margin: 0;
}

html body .footer .container-fluid .wrapper .footer-logo img {
  width: 40px;
}

html body .footer .container-fluid .wrapper #documentation {
  border-radius: 3px;
  padding: 6px 12px;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  background-color: #403D58;
  -webkit-box-shadow: 0 0 3px #FC7753;
          box-shadow: 0 0 3px #FC7753;
  color: #FC7753;
}

html body .footer .container-fluid .wrapper #documentation:hover {
  color: #403D58;
  -webkit-box-shadow: 0 0 3px #FC7753;
          box-shadow: 0 0 3px #FC7753;
  background-color: #FC7753;
}

html body .footer .container-fluid hr {
  width: 60%;
  margin: 15px auto 30px auto;
  border: 1px solid #FC7753;
  -webkit-box-shadow: 0 0 5px #FC7753;
          box-shadow: 0 0 5px #FC7753;
}

html body .popup-cart {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(64, 61, 88, 0.9);
  margin: 0;
  padding: 0;
  display: none;
}

html body .popup-cart.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .popup-cart .cart {
  background-color: #2D3047;
  padding: 40px 30px;
  width: 650px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #2D3047;
          box-shadow: 0 0 10px #2D3047;
  min-height: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body .popup-cart .cart h3 {
  color: #FC7753;
  font-size: 1.67rem;
  margin-bottom: 20px;
}

html body .popup-cart .cart h3 ~ p {
  font-size: 1.1rem;
  color: #66D7D1;
}

html body .popup-cart .cart ul {
  color: #FC7753;
  width: 100%;
}

html body .popup-cart .cart ul li {
  margin: 20px 0;
  padding: 14px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #66D7D1;
}

html body .popup-cart .cart ul li input {
  width: 50px;
  border-radius: 2px;
  background-color: #FC7753;
  color: #2D3047;
  -webkit-box-shadow: #2D3047;
          box-shadow: #2D3047;
  padding: 4px 7px;
  font-size: .95rem;
  -webkit-transition: .24s ease-in-out;
  transition: .24s ease-in-out;
}

html body .popup-cart .cart ul li input:hover, html body .popup-cart .cart ul li input:focus {
  background-color: #66D7D1;
}

html body .popup-cart .cart ul li p {
  font-size: .95rem;
  margin: 0;
}

html body .popup-cart .cart ul li .deleteBtn {
  font-size: .95rem;
  background-color: #66D7D1;
  border-radius: 2px;
  padding: 4px 10px;
  color: #2D3047;
  -webkit-transition: .24s ease-in-out;
  transition: .24s ease-in-out;
}

html body .popup-cart .cart ul li .deleteBtn:hover {
  background-color: #FC7753;
}

html body .popup-cart .cart #buyBtn {
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #FC7753;
  color: #2D3047;
  font-size: .95rem;
  -webkit-box-shadow: 0 0 5px #403D58;
          box-shadow: 0 0 5px #403D58;
  -webkit-transition: .24s ease-in-out;
  transition: .24s ease-in-out;
}

html body .popup-cart .cart #buyBtn:hover {
  background-color: #66D7D1;
}

html body .popup-cart .cart #closeBtn {
  position: absolute;
  top: 7%;
  right: 4%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: transparent;
  color: #FC7753;
  -webkit-transition: .24s ease-in-out;
  transition: .24s ease-in-out;
  font-size: 1.12rem;
}

html body .popup-cart .cart #closeBtn:hover {
  color: #66D7D1;
}

html body .popup-cart .cart p:nth-of-type(2) {
  font-size: .9rem;
}

html body .popup-cart .cart .totalPrice {
  color: #FC7753;
  font-size: 1.1rem;
}

html body .preloader {
  width: 100%;
  height: 100vh;
  background-color: #403D58;
  position: absolute;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
}

html body .preloader.hide {
  display: none;
}

html body .preloader .content {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  -webkit-animation: rotate .6s infinite;
          animation: rotate .6s infinite;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .preloader .content .bigCircle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border-top: 4px solid #66D7D1;
  border-left: 4px solid #66D7D1;
  border-bottom: 4px solid #FC7753;
  border-right: 4px solid #FC7753;
}

html body .preloader .content .smallCircle {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  border: 4px solid #66D7D1;
  border-top: 4px solid #FC7753;
  border-left: 4px solid #FC7753;
  border-bottom: 4px solid #66D7D1;
  border-right: 4px solid #66D7D1;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

html body .popupForm {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(64, 61, 88, 0.9);
  margin: 0;
  padding: 0;
  display: none;
}

html body .popupForm.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .popupForm .content {
  background-color: #2D3047;
  padding: 40px 30px;
  width: 650px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #2D3047;
          box-shadow: 0 0 10px #2D3047;
  min-height: 200px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body .popupForm .content p {
  color: #66D7D1;
  font-size: 1.3rem;
}

html body .popupForm .content #okBtn {
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #FC7753;
  color: #2D3047;
  font-size: .95rem;
  -webkit-box-shadow: 0 0 5px #403D58;
          box-shadow: 0 0 5px #403D58;
  -webkit-transition: .24s ease-in-out;
  transition: .24s ease-in-out;
}

html body .popupForm .content #okBtn:hover {
  background-color: #66D7D1;
}

html body .popupForm .content #closeBtn {
  position: absolute;
  top: 7%;
  right: 4%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: transparent;
  color: #FC7753;
  -webkit-transition: .24s ease-in-out;
  transition: .24s ease-in-out;
  font-size: 1.12rem;
}

html body .popupForm .content #closeBtn:hover {
  color: #66D7D1;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 1px #2D3047;
          box-shadow: inset 0px 0px 1px #2D3047;
  background-color: #403D58;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #66D7D1;
}

::-webkit-scrollbar-thumb:hover {
  background: #FC7753;
}
/*# sourceMappingURL=style.css.map */